PORT=3004
DATABASE_URL=postgresql://user:pass@localhost:5432/demo
JWT_SECRET= asdfasdfasdfasdfasdf
TOKEN_EXPIRATION= 5d
FRONT_URL= http://localhost:3007
ENCRYPTION_PASSWORD= # se generar con el comando: openssl rand -hex 16
ENCRYPTION_IV= # se generar con el comando: openssl rand -hex 16